<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:component-scan base-package="com.anikitin.service" />
    <tx:annotation-driven/>

    <!-- =============================================== -->
    <!-- JMS Common, Define JMS connectionFactory       -->
    <!-- =============================================== -->
    <!-- Activemq connection factory -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <!-- brokerURL, You may have different IP or port -->
        <constructor-arg index="0" value="tcp://localhost:61616" />
        <property name="redeliveryPolicy">
            <bean class="org.apache.activemq.RedeliveryPolicy">
                <property name="maximumRedeliveries" value="4"/>
            </bean>
        </property>
        <property name="clientID" value="topic.durable.id"/>
    </bean>

     <!--Pooled Spring connection factory -->
    <bean id="connectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory" />
    </bean>
    <!-- setup JMS connection factory -->
    <!--<bean id="poolConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" init-method="start" destroy-method="stop">-->
        <!--<property name="maxConnections" value="8"/>-->
        <!--<property name="connectionFactory" ref="amqConnectionFactory"/>-->
    <!--</bean>-->
    <!-- ======================================================= -->
    <!-- JMS Send, define default destination and JmsTemplate    -->
    <!-- ======================================================= -->
    <!-- Default Destination Queue Definition -->
    <bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- name of the queue -->
        <constructor-arg index="0" value="Send2Recv" />
    </bean><bean id="tmp" class="org.apache.activemq.command.ActiveMQTempQueue">
        <!-- name of the queue -->
        <constructor-arg index="0" value="ActiveMQ.Advisory.TempQueue" />
    </bean>
    <bean id="optionalDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- name of the queue -->
        <constructor-arg index="0" value="optionalQueue" />
    </bean>
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <!-- name of the queue -->
        <constructor-arg index="0" value="topicJms" />
    </bean>
    <bean id="topicDurable" class="org.apache.activemq.command.ActiveMQTopic">
        <!-- name of the queue -->
        <constructor-arg index="0" value="topic.durable" />
    </bean>

    <!--<jms:listener-container-->
            <!--connection-factory="connectionFactory"-->
            <!--destination-type="topic"-->
            <!--message-converter="oxmMessageConverter"-->
            <!--acknowledge="auto" error-handler="jmsErrorHandler">-->
        <!--<jms:listener destination="topicJms" ref="jmsActivateCardServiceReceiver" method="receiveOrderActivateCardFromTopic"/>-->
        <!--<jms:listener destination="topicJms" ref="jmsActivateCardServiceReceiverOptional" method="receiveOrderActivateCardFromTopic"/>-->
    <!--</jms:listener-container>-->

    <bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topicDestination"/>
        <property name="messageListener" ref="jmsActivateCardServiceReceiverListener"/>
        <property name="messageConverter" ref="oxmMessageConverter"/>
    </bean>

    <bean id="jmsContainer2" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topicDestination"/>
        <property name="messageListener" ref="jmsActivateCardServiceReceiverOptionalListener"/>
        <property name="messageConverter" ref="oxmMessageConverter"/>
    </bean>

    <!-- JmsTemplate Definition -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="defaultDestination" ref="defaultDestination" />
        <property name="messageConverter" ref="oxmMessageConverter"/>
        <property name="pubSubDomain" value="true"/>
        <property name="sessionTransacted" value="true"/>
        <property name="receiveTimeout" value="1000" />
        <property name="deliveryPersistent" value="true"/>

    </bean>
    <bean id="oxmMessageConverter" class="org.springframework.jms.support.converter.MarshallingMessageConverter">
        <property name="marshaller" ref="marshaller"/>
        <property name="unmarshaller" ref="marshaller"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="nestedTransactionAllowed" value="true"/>
    </bean>

    <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>generated.Card</value>
                <value>generated.ObjectFactory</value>
                <value>generated.Person</value>
                <value>generated.SolveType</value>
                <value>generated.StatusType</value>
            </list>
        </property>
        <property name="schema" value="OrderActivateCard.xsd"/>
    </bean>
</beans>